:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /*background-image: url("https://www.cronista.com/files/image/484/484530/6358377f7527b.jpg");*/
  background-image: url('assets/granhermano.jpeg');
  background-repeat:no-repeat; background-position: center; background-size: cover; height: 100%;
  background-color: transparent;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
display: grid;
gap: 1rem;
grid-auto-rows: dense;
grid-auto-rows: 22rem;
grid-template-columns: repeat(auto-fill, minmax (15rem, 1fr));
background-color: transparent;
}

.featured {
  grid-column: span 2;
  background-color: transparent;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex: 1;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: transparent;
}

h1 {
  position: relative;
  font-size: 3.2em;
  line-height: 1.1;
  

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #117fe0;
    background-color: transparent;

  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #c11c1cd9;
  }
}
